/* styles.css */

.container {
  background-color: #f4e3d7;
  padding: 2.5rem 0;
  height: 1000px;
}

.text-center {
  text-align: center;
}

.title {
  font-size: 1.875rem;
  font-weight: 700;
  color: #5e3b29;
  margin-bottom: 2rem;
}

.categories {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  justify-content: center;
}

.category-card {
  background-color: #e7cbb8;
  border-radius: 0.5rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  padding: 1.25rem;
  text-align: center;
}

.image-container {
  border-radius: 50% 50% 5px 5px;
  overflow: hidden;
  height: 21rem;
  width: 24rem;
  margin: 0 auto 1.25rem;
}

.category-image {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.category-title {
  font-size: 1.25rem;
  font-weight: 600;
  color: #6b4a35;
  margin-bottom: 0.75rem;
}

.category-description {
  color: #8d6e63;
}
