* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
  padding: 10px 100px;

  ul {
    display: flex;

    li {
      list-style: none;
      margin: 0 20px;

      a {
        text-decoration: none;
        color: white;
      }
    }
  }
}

.Logo {
  font-size: 30px;
}

.active {
  color: rgb(255, 0, 68);
}


/* Body styling */
body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}

/* Background with image and opacity */
.loginBackground, .registerBackground {
  background: url("../Assets/books.jpg")
    no-repeat center center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.loginBackground {
  height: 100vh;
}

/* Adding opacity */
.loginBackground::before, .registerBackground::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2); /* Dark layer with opacity */
  z-index: 0;
}

/* Login form container */
.loginContainer, .registerContainer {
  color: #fff;
  margin: 20px 0 ;
  padding: 40px;
  border-radius: 10px;
  width: 400px;
  background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent background */
  z-index: 1; /* Ensures the form is above the opacity layer */
  position: relative;
}

.loginH1, .registerH1 {
  font-size: 36px;
  color: #3498db;
  margin-bottom: 20px;
  text-align: center;
}

label {
  font-size: 18px;
}

p { 
  margin: 25px 0 0;
  font-size: 16px;
  color: #ccc;
  text-align: center;
}

/* Input fields */
input {
  width: 100%;
  padding: 10px;
  margin: 10px 0 25px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

/* Button styling */
button {
  width: 100%;
  padding: 10px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
}

button:hover {
  background-color: #2980b9;
}

/* Link styling */
a {
  color: #3498db;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Textarea */
textarea {
  font-family: inherit;
  width: 100%;
  padding: 10px;
  margin: 10px 0 25px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  height: 100px;
  resize: none;
}

/* Responsive design */
@media (max-width: 768px) {
  .login-container {
    width: 90%;
  }
  .register-container {
    width: 90%;
  }
}

